*{
  box-sizing: border-box;
}
Body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
}
.container{
  max-width: 90%;
  background: lightgray;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: black ;
  text-decoration: none;
}
.logo img{
  height: 45px;
  font-size: 1.45em;
}

.main-nav{
  margin-top: 25px;
}
.logo a, .main-nav a{
  padding: 10px 15px;
  text-align: center;
  display: block;
}
.main-nav a{
  color: darkgrey;
  font-size: .99em;
}
.main-nav a:hover{
  color: black;
  background-color: rgba(218,223,225,1);
}
.header{
  padding-top: 10px;
  background-color: lightgrey;
}
.card {
  background-color: white;
  text-align: center;
  padding: 20px 5px 20px 10px;
  margin-top: 20px;
  width: 100%;
  border: 5px solid lightgray;
}

@media screen and (min-width:600px){
  .header, .main-nav{
    display: flex;
  }
  .header{
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

}
@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}